body{
  margin: 0;
}

header{
  background-color: #26a69a;
  width: 100vw;
  #header_logo{
    color: #fff;
    margin: 0 auto;
    text-align: center;
    &_shukatu{
      display: inline-block;
      font-size: 30px;
    }
  }
  nav{
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      li{
        display: inline-block;
        a{
          text-decoration: none;
          color: #fff;
          line-height: 3;
        }
      }
    }
  }
}

footer{
  background-color: #26a69a;
  height: 100px;
  #boozer_logo{
    margin: 0 auto;
    display: block;
    width: 288px;
  }
}

@import "howToUse";
