@use "../../base/mixin";
@forward "../../base/mixin";
@use "../../base/var";
@forward "../../base/var";

.top-page {
  &__main_contents{
    background-color: #fff;
    max-width: var.$max_width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__agent_position {
    @include mixin.pc{
      border-top: solid 1px #000;
      border-right: solid 1px #000;
      box-sizing: border-box;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    @include mixin.sp{
      margin: 0 auto;
    }

  }
  &__agent {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 285px;
    @include mixin.sp{
      width: 100%;
    }
    padding: 16px;
    margin: 16px;
    background:rgb(242, 242, 242);
    border: .7px solid #000;
    filter: drop-shadow(10px 10px 2px rgba(0,0,0,0.2));
    position: relative;

    &_heart {
    position: absolute;
    top: 89%;
    left: 76%;
    }
    &_img-wrapper {
      width: 100%;
      height: auto;
      position: relative;
      border-radius:30px;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
    }
    &_img {
      width: 100%;
      height: 100%;
    }
    &_tag {
      position: absolute;
      top: 10%;
      right: -5%;

      &_text {
        background: rgb(186, 185, 185);
        padding: 0.7rem;

      }
    }
    &_text {
      align-items: baseline;
      // margin-bottom: 15px;
      margin-top: 15px;
      line-height:2rem;

      &_company-name {
        font-size: 21px;
        font-weight: bold;
        width: 90%;
        display: block;
      }
      &_catchphrase {
        font-size: 13px;
        display: block;
      }
    }
    &_detail-btn {
      display: block;
      transition: 400ms;
      &:hover{
        border: solid 3px var.$main_color;
        transform: translateY(3px);
        box-shadow: #888 1px 1px 1px;
      }
      // border: 8px double #0090bb;
      // background: #80cbc4;
      // width: 128px;
      // line-height: 2;
      // padding: 0 16px;
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // bottom: 16px;
      // transition: 200ms;
      // &:hover{
      //   background: #ff6600;
      //   border: 8px double #ff6600;
      // }
      // &_text {
      //   color: black;
      // }
    }
  }
}