.top-page {
  &__agent_position {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 1.5rem;

  }
  &__agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    padding: 4rem 3rem 3rem 3rem;
    margin: 1rem;
    background:rgb(242, 242, 242);
    border: .7px solid black;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
    
    &_heart {
      position: absolute;
      top: -5%;
    }
    &_img-wrapper {
      width: 100%;
      height: auto;
      position: relative;
      border-radius:30px;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));
    }
    &_img {
      width: 100%;
      height: 100%;
    }
    &_tag {
      position: absolute;
      top: 10%;
      right: -5%;

      &_text {
        background: rgb(186, 185, 185);
        padding: 0.7rem;
      }
    }
    &_text {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 3rem;
      align-items: baseline;

      &_company-name {
        font-size: 2rem;
        font-weight: bold;
        padding-right: 1rem;
      }
      &_catchphrase {
        font-size: 0.7rem;
      }
    }
    &_detail-btn {
      border: 8px double #0090bb;
      background: #80cbc4;
      padding: 1rem 1.5rem;

      &_text {
        color: black;
      }
    }
  }
}