@use "./user_form_check";
@forward "./user_form_check";
@use "./user_info_done";
@forward "./user_info_done";
@use "../../base/var";
@forward "../../base/var";

.form-step{
    margin: 5px auto;
    width: 90%;
    max-width: 650px;
}

:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.c-stepper {
    display: flex;
}

.c-stepper__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
        --size: 3rem;
        content: "";
        display: block;
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: 50%;
        background: pink;
        margin: 0 auto 1rem;
    }

    &_here:before{
        --size: 3rem;
        content: "";
        display: block;
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: 50%;
        background: rgb(248, 120, 141);
        margin: 0 auto 1rem;
    }

    &:not(:last-child) {
        &:after {
            content: "";
            position: relative;
            top: calc(var(--circle-size) / 2);
            width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
            left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
            height: 2px;
            background-color: #e0e0e0;
            order: -1;
        }
    }
}

.c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: 0.5rem;
}

.c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vw, 1rem);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

.student_info{
    &__form{
        width: 90%;
        max-width: 650px;
        margin: 25px auto;
        position: relative;
        &_warning{
            margin: 5px 0;
            color: #ff3c00;
            display: block;
        }
        &_agree_text{
            overflow: scroll;
            height: 80px;
            border: solid 1px #000;
            box-sizing: border-box;
            p{
                padding: 5px;
                background-color: #fff;
            }
        }
        &_agree_checkbox{
            padding: 3px;
            position: absolute;
            bottom: 2px;
            right: 2px;
        }
        div{
            background-color: #fafafa;
            display: flex;
            width: 100%;
        }
        &_tittle{
            font-size: 16px;
            line-height: 2;
            border: solid #000 1px;
            padding-left: 10px;
            width: 25%;
            display: block;
        }
        &_input_area{
            display: block;
            height: 32px;
            width: 75%;
            border: solid #000 1px;
            padding: 8px 0 0 5px;
            input[type="text"]{
                width: 45%;
            }
            &.agree{
                height: 110px;
                position: relative;
            }
        }

        &_btn{
            width: 100%;
            display: flex;
            justify-content: center;
            &_back{
                background-color: #65a0f2;
                color: #fff;
                margin: 16px 5px 0 0;
                display: block;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                width: 80px;
                line-height: 2;
                box-shadow: #555 3px 3px 3px;
                transition: 200ms;
                &:hover{
                    transform: translateY(1px);
                    box-shadow: #000 1px 1px 1px;
                }
            }
            &_ok{
                background-color: #f5835f;
                color: #fff;
                margin: 16px 0 0 5px;
                display: block;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                width: 80px;
                line-height: 2;
                box-shadow: #555 3px 3px 3px;
                transition: 200ms;
                &:hover{
                    transform: translateY(1px);
                    box-shadow: #000 1px 1px 1px;
                }
                &.untouchable{
                    pointer-events: none;
                }
            }
        }
    }
    &__agent_id{
        display: none;
        position: absolute;
    }
}

.required{
    font-size: 12px;
    color: #ff3c00;
}