@charset "UTF-8";
.agent-login {
  height: 100vh;
  background-image: url(../img/Interview\ with\ the\ ultimate\ wave\ photographer\ Clark\ Little\ I\ AM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
  /* 左上のクラフトのロゴ */
  /* login入力部分全体（黒っぽいところ）をまとめるやつ */
  /* loginの文字 */
  /* form部分のみをまとめるやつ */
  /* 文字とinput部分を縦並びにする */
  /* submitボタン */
}
.agent-login__craft-logo {
  color: rgba(255, 255, 255, 0.692);
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  padding: 4rem;
}
.agent-login__input-boxes {
  margin: 0 auto;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.603);
}
.agent-login__login_text {
  color: rgba(255, 255, 255, 0.774);
  font-size: 3rem;
  padding: 3%;
}
.agent-login__form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agent-login__input-box {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  /* インプットの上の文字 */
}
.agent-login__input-box_text {
  color: white;
  font-family: "Dosis", sans-serif;
  margin-bottom: 3%;
}
.agent-login__submit-btn {
  margin: 3% 0% 3% 1%;
  padding: 1% 5%;
  font-family: "Roboto", sans-serif;
  background: rgba(255, 255, 255, 0.589);
  border-radius: 3px;
}
.agent-login__forget-link {
  color: white;
}

.agent-page__header {
  width: 100%;
  height: 20vh;
  background-image: url(../img/Interview\ with\ the\ ultimate\ wave\ photographer\ Clark\ Little\ I\ AM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  position: fixed;
  z-index: 99999999999;
}
.agent-page__header_craft-logo {
  position: absolute;
  top: 30%;
  left: 30%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}
.agent-page__header_for-boozer {
  position: absolute;
  top: 45%;
  left: 45%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.agent-page__header_staff-_name {
  position: absolute;
  top: 50%;
  left: 70%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.agent-page__container {
  padding-top: 20vh;
}
.agent-page__side-menu {
  width: 15%;
  height: 80vh;
  background: #d4d4d4;
  position: fixed;
}
.agent-page__side-menu_li {
  padding: 7% 5%;
  font-size: 1.2rem;
}
.agent-page__side-menu_text {
  color: black;
}
.agent-page__right-page-container {
  padding-left: 15%;
}
.agent-page___top_container {
  width: 85%;
  margin: 25px 30px;
}
.agent-page___top_info {
  width: 100%;
  height: 32px;
  background-color: #e2e2e2;
  border: solid #000 1px;
  font-size: 16px;
  line-height: 2;
}

.agent-logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agent-logout__wrapper {
  margin-top: 50vh;
}

.agent_page_student_info_wrapper {
  background-color: #c4c4c4;
  width: 95%;
  margin: 16px 0 0 2%;
  padding-bottom: 16px;
}
.agent_page_student_info_wrapper_span {
  display: inline-block;
  padding: 0 16px;
  font-size: 16px;
  height: 32px;
  line-height: 2;
  margin: 16px 0 0 16px;
  background-color: #fff;
}

.delete {
  display: block;
  margin-left: 2%;
  margin-top: 5px;
}

.agent-page__right-page-container h1 {
  margin: 16px;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_account_reg_wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e2e2e2;
  padding: 10px 0;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_account_reg_wrapper .agent_reg_form_tittle {
  width: 100%;
  text-align: center;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_account_reg_wrapper .agent_reg_form_box {
  width: 45%;
  margin: 5px 0;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_account_reg_wrapper .agent_reg_form_box_text {
  display: block;
  width: 100%;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_account_reg_wrapper .agent_reg_form_box input {
  width: 100%;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper {
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e2e2e2;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper .agent_reg_form_tittle {
  width: 100%;
  text-align: center;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper .agent_reg_form_box {
  width: 45%;
  margin: 5px 0;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper .agent_reg_form_box_text {
  display: block;
  width: 100%;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper .agent_reg_form_box input {
  width: 100%;
}
.agent-page__right-page-container .agent_reg_form_wrapper .agent_info_reg_wrapper .checkbox_area {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 10px;
}

.agent-page__right-page-container .student-info {
  background-color: #c4c4c4;
  padding: 4px;
  width: 90%;
  margin: 0 auto;
}
.agent-page__right-page-container .student-info__span {
  height: 32px;
  font-size: 16px;
  line-height: 2;
  background-color: #fff;
  padding: 0 10px;
  display: inline-block;
  margin: 4px;
}
.agent-page__right-page-container form {
  background-color: #e2e2e2;
  width: 90%;
  margin: 10px auto;
  padding: 16px 4px;
}
.agent-page__right-page-container form span {
  display: block;
}

/********
エージェントログインページ
*********/
/*# sourceMappingURL=agentPage.css.map */