@charset "UTF-8";
/* ログイン情報入力画面 */
.boozer-login {
  height: 100vh;
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
  /* 左上のクラフトのロゴ */
  /* login入力部分全体（黒っぽいところ）をまとめるやつ */
  /* loginの文字 */
  /* form部分のみをまとめるやつ */
  /* 文字とinput部分を縦並びにする */
  /* submitボタン */
}
.boozer-login__craft-logo {
  color: rgba(255, 255, 255, 0.692);
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  padding: 4rem;
}
.boozer-login__input-boxes {
  margin: 0 auto;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.603);
}
.boozer-login__login_text {
  color: rgba(255, 255, 255, 0.774);
  font-size: 3rem;
  padding: 3%;
}
.boozer-login__form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boozer-login__input-box {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  /* インプットの上の文字 */
}
.boozer-login__input-box_text {
  color: white;
  font-family: "Dosis", sans-serif;
  margin-bottom: 3%;
}
.boozer-login__submit-btn {
  margin: 3% 0% 3% 1%;
  padding: 1% 5%;
  font-family: "Roboto", sans-serif;
  background: rgba(255, 255, 255, 0.589);
  border-radius: 3px;
}

/* ログイン後home画面 */
.boozer-page__header {
  width: 100%;
  height: 20vh;
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  position: fixed;
  z-index: 99999999999;
}
.boozer-page__header_craft-logo {
  position: absolute;
  top: 30%;
  left: 30%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}
.boozer-page__header_for-boozer {
  position: absolute;
  top: 45%;
  left: 45%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.boozer-page__header_staff-_name {
  position: absolute;
  top: 50%;
  left: 70%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.boozer-page__container {
  padding-top: 20vh;
}
.boozer-page__side-menu {
  width: 15%;
  height: 80vh;
  background: #d4d4d4;
  position: fixed;
}
.boozer-page__side-menu_li {
  padding: 7% 5%;
  font-size: 1.2rem;
}
.boozer-page__side-menu_text {
  color: black;
}
.boozer-page__right-page-container {
  padding-left: 15%;
}

.agent-logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agent-logout__wrapper {
  margin-top: 50vh;
}

.boozer-page__right-page-container .post_period_buttons {
  width: 60%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.boozer-page__right-page-container .post_period_button {
  width: 30%;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  background-color: #26a69a;
  color: #fff;
}
.boozer-page__right-page-container .post_period_button:nth-of-type(1) {
  color: #000;
  background-color: #c4c4c4;
}
.boozer-page__right-page-container .agent_info_wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #c4c4c4;
  width: 95%;
  padding: 4px;
  margin: 30px 0 0 30px;
  align-items: center;
}
.boozer-page__right-page-container .agent_info_text {
  background-color: #fff;
  font-size: 16px;
  height: 32px;
  line-height: 2;
  display: inline-block;
  margin: 4px;
  padding: 0 10px;
}

.delete_check {
  display: block;
  width: 100%;
  background-color: #fff100;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 2;
}

.user_info_container {
  width: 100%;
}
.user_info_wrapper {
  width: 90%;
  margin: 25px 30px;
}
.user_info_wrapper .user_info {
  width: 100%;
  height: 32px;
  background-color: #e2e2e2;
  border: solid #000 1px;
}
.user_info_wrapper .user_info_text {
  font-size: 16px;
  display: inline-block;
  height: 32px;
  line-height: 2;
  margin: 0 10px;
}

.request_list {
  width: 90%;
  padding: 16px;
  margin: 16px 30px;
  background-color: #c4c4c4;
}
.request_list h1 {
  margin-bottom: 16px;
}
.request_list ul {
  border: #000 solid 1px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.request_list ul li {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  padding: 0 16px;
  line-height: 2;
  background-color: #fff;
  margin: 5px;
}

.agent_account_reg_wrapper {
  background-color: #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 25px auto;
  padding: 10px 0;
  justify-content: space-around;
}
.agent_account_reg_wrapper .agent_reg_form_tittle {
  width: 100%;
  text-align: center;
}
.agent_account_reg_wrapper .agent_reg_form_box {
  width: 45%;
  margin-top: 10px;
}
.agent_account_reg_wrapper .agent_reg_form_box_text {
  display: block;
}
.agent_account_reg_wrapper .agent_reg_form_box input {
  width: 100%;
  display: block;
}

.agent_info_reg_wrapper {
  background-color: #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 25px auto;
  padding: 10px 0;
  justify-content: space-around;
}
.agent_info_reg_wrapper .agent_reg_form_tittle {
  width: 100%;
  text-align: center;
}
.agent_info_reg_wrapper .agent_reg_form_box {
  width: 45%;
  margin-top: 10px;
}
.agent_info_reg_wrapper .agent_reg_form_box_text {
  display: block;
}
.agent_info_reg_wrapper .agent_reg_form_box input {
  width: 100%;
  display: block;
}
.agent_info_reg_wrapper .checkbox_area {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.agent_info_reg_wrapper .checkbox_area .checkboxes {
  margin: 5px;
}

.right_page_container .boozer-page__right-page-container .student-info__wrapper {
  padding: 8px;
  background-color: #c4c4c4;
  width: 90%;
  margin: 16px auto;
}
.right_page_container .boozer-page__right-page-container .student-info___span {
  background-color: #fff;
  padding: 0 10px;
  font-size: 16px;
  line-height: 2;
  height: 32px;
  margin: 8px;
  display: inline-block;
}

.boozer-page__right-page-container .text-center {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.boozer-page__right-page-container .form_staffList {
  width: 90%;
  margin: 0 auto;
  background-color: #c4c4c4;
  padding: 16px 0;
}
.boozer-page__right-page-container .form_staffList .staffs {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.boozer-page__right-page-container .form_staffList .staffs .staff {
  padding: 0 16px;
  margin: 5px 0;
}
.boozer-page__right-page-container .form_staffList .btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.boozer-page__right-page-container .form_staffList .btn input[type=submit] {
  width: 20%;
  display: block;
}

.operate_agent__ng_message {
  position: fixed;
  top: 50%;
  left: 50%;
}
.operate_agent__ng_back {
  position: fixed;
  top: 55%;
  left: 50%;
}

.right_page_container {
  margin-left: 15%;
}
.right_page_container .agent-detail__tittle {
  transform: translateX(-10px);
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 15px;
  padding-top: 18px;
}
.right_page_container .agent-detail__info {
  margin: 5px 0;
}
.right_page_container .agent-detail__info-wrapper {
  background-color: #f4f4f4;
  padding: 0 25px 25px;
  border-bottom: solid #fafafa 2px;
}
.right_page_container .agent-detail__tag {
  margin: 10px 0;
  padding-right: 15px;
  border-bottom: solid #000 1px;
}
.right_page_container .agent-detail__tag-wrapper {
  background-color: #f4f4f4;
  padding: 0 25px 25px;
}
.right_page_container .agent-detail__tag-area {
  display: flex;
}
.right_page_container .agent-detail__tag-existence {
  margin: 10px 0;
  border-bottom: solid #000 1px;
}
.right_page_container .agent_delete {
  padding: 25px;
}

/**************

* ログインページ

***************/
/*# sourceMappingURL=boozerPage.css.map */