@use "../base/animation";
@forward "../base/animation";
@use "../base/mixin";
@forward "../base/mixin";
@use "../base/var";
@forward "../base/var";
.tag-area-search__wrapper {
  position: fixed;
  right: 5vh;
  top: 30vh;
  background: rgb(239, 239, 239);
  border: 1px solid black;
  padding: 10px 10px 15vh 10px;
  filter: drop-shadow(10px 10px 10px rgba(57, 57, 57, 0.2));
}

.both-search {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 7vh;
  top: 50vh;
  filter: drop-shadow(10px 10px 10px rgba(57, 57, 57, 0.2));

  &__btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-radius: 0.75rem;
    border: none;

    &_text {
      position: relative;
      display: flex;
      align-items: center;
      padding: 1rem 2.5rem;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border: 1.5px solid #000;
      border-radius: inherit;
      background: #ff9500;
    }
  }
  &__btn:hover {
    -webkit-transform: translate(0, 0.25rem);
    transform: translate(0, 0.25rem);
    background: #ff9500;
  }
  &__btn:active {
    -webkit-transform: translate(0rem, 0.75rem);
    transform: translate(0rem, 0.75rem);
  }
}

//タグ検索ボタン
.tag-search {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  filter: drop-shadow(10px 10px 10px rgba(57, 57, 57, 0.2));

  &__btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-radius: 0.5rem;
    border: none;

    &_text {
      position: relative;
      display: block;
      padding: .7rem 2rem;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border: 1.5px solid #000;
      border-radius: inherit;
      background: rgb(202, 202, 202);
    }
  }
}

// タグ検索ボックス
.tag {
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #f0f0f0;
  border-radius: 15px;
  position: fixed;
  height: 45vh;
  top: 30vh;
  width: 40vw;
  min-width: 420px;
  left: 50%;
  transform: translateX(-50%);
  @include mixin.sp{
  width: 94vw;
  min-width: 0;
  height: 70vh;
  left: 0;
  padding: 15px 3vw;
  transform: translateX(0);
  }
  padding: 15px;
  opacity: 100%;
  z-index: 100;

  &__background{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 50%;
    z-index: 99;
  }
  &__tittle {
    font-size: 16px;
  }
  &__determination-btn{
    width: 16vw;
    height: 32px;
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 2;
    color: #fff;
    background-color: var.$main_color;
    border-radius: 16px;
    text-align: center;
    @include mixin.sp{
      width: 40vw;
      bottom: 40px;
    }
  }
  &__input {
    padding-right: 48px;
    background-color: #fff;
    height: 32px;
    border-radius: 16px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    line-height: 2;
    margin-top: 15px;
    margin-right: 15px;
  }
}